In [ ]:
""" 
SQL is a complete application that helps manage relational databases and requires significant configuration, including setting up a server. SQLite is a lightweight version of SQL that does not require any configuration. You can create a database and store it locally, making it widely used for embedded systems.

"""

In [ ]:
# By default sqlite3 is installed in python3
import sqlite3

connection = sqlite3.connect('students.db') #will create the studensts.bd file

cursor = connection.cursor()
# A cursor is a control structure that enables you to:
# Send commands (SQL queries) to the database
# Receive results back from the database (especially SELECT queries)

In [ ]:
# creating table

cursor.execute(
    """
Create table if not exists class_nine(
id integer primary key,
student_namee text not null,
rollno int not null,
address text not null
)
 """
)

connection.commit() 
# commit() use to save the changes made in database

In [15]:
# inserting the new data in database

# cursor.execute("INSERT INTO CLASS_NINE(STUDENT_NAMEE,ROLLNO,ADDRESS) VALUES('Aayush Dahal',5,'Sivasatashi-1')")
cursor.execute("INSERT INTO CLASS_NINE(STUDENT_NAMEE,ROLLNO,ADDRESS) VALUES('Bhaskar Rai',9,'Mechinagar-3')")

connection.commit()

In [16]:
cursor.execute("SELECT * FROM CLASS_NINE")

rows = cursor.fetchall() # fetching all rows from the table

for x in rows:
    print(x)

(1, 'Aayush Dahal', 5, 'Sivasatashi-1')
(2, 'Bhaskar Rai', 9, 'Mechinagar-3')

In [18]:
# updating the data
cursor.execute('UPDATE CLASS_NINE SET STUDENT_NAMEE = "Bishal kafle" WHERE ROLLNO = 9')
connection.commit()

In [19]:
cursor.execute("SELECT * FROM CLASS_NINE")

rows = cursor.fetchall() # fetching all rows from the table

for x in rows:
    print(x)

(1, 'Aayush Dahal', 5, 'Sivasatashi-1')
(2, 'Bishal kafle', 9, 'Mechinagar-3')

In [20]:
# deleting the row

cursor.execute('DELETE FROM CLASS_NINE WHERE ROLLNO = 5')
connection.commit()

In [21]:
cursor.execute("SELECT * FROM CLASS_NINE")

rows = cursor.fetchall() # fetching all rows from the table

for x in rows:
    print(x)

(2, 'Bishal kafle', 9, 'Mechinagar-3')