In [ ]:
# Target guided ordinal encoding is particularly useful when dealing with categorical variables that have a large number of unique categories. The core idea is to replace each category in the categorical variable with a numerical value derived from the mean or median of the target variable for that category.

In [11]:

import pandas as pd 

df = pd.DataFrame({
    'product':['Apple','Ball','Cap','Doll','Apple','Cap'],
    'price':[120,110,140,100,100,150]
})
df

  product  price
0   Apple    120
1    Ball    110
2     Cap    140
3    Doll    100
4   Apple    100
5     Cap    150

In [12]:
mean_dict = df.groupby('product')['price'].mean().to_dict()
mean_dict
# create the group of mean value of each product

{'Apple': 110.0, 'Ball': 110.0, 'Cap': 145.0, 'Doll': 100.0}

In [13]:
# maping this mean value with product in table
df['product_mean'] = df['product'].map(mean_dict)
df

  product  price  product_mean
0   Apple    120         110.0
1    Ball    110         110.0
2     Cap    140         145.0
3    Doll    100         100.0
4   Apple    100         110.0
5     Cap    150         145.0